.App {
  text-align: center;
}
.container{
  display:flex;

}
.day-meals-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.App-header {
  height: 16vh;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#header-img {
  height: 14vh;
}

.main {
  position: fixed;
  top: 16vh;
  min-width: 100vw;
  height: 84vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.info {
  text-align: center;
  overflow: scroll;
}

.rv-xy-plot {
  text-align: center;
  padding-left: 35em;
}

/* .profileBar {
} */

.sidebar, a {
  display: block;
  padding-top: 10px;
  text-align: center;
}

.sidebar a {
  padding: 12px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #292828;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.Login, .Signup {
  text-align: center;
}

#profilePic {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profileName {
  text-align: center;
}

.summaryPage {
  text-align: center;
}

nav {
  background: white;
  display: flex;
  justify-content: space-around;
  min-width: 300px;
  position: absolute;
  top: 5px;
  right: 10px;
}

/* * here is for AddMealForm.jsx ========================================*/
#add-meal-container {
  display: grid;
  grid-template-rows: 1fr 5fr;
}
.add-meal-form form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.meals-options-list, .pending-meal-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
}

.meals-options-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.meals-option, .pending-option {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dates form {
  /*text-align: center;*/
  padding-left: 20%;

}

.current  {
display: inline-block;
margin: 20px;

}

.end {
display: inline-block;
margin: 20px;
}


input[type=date] {
border: 3px solid black;
border-radius: 5px;
width: 85%;
height: 30px;
}

input[type=submit] {
background-color: #30a80f;
border-radius: 12px;
border: none;
color: white;
padding: 16px 32px;
text-decoration: none;
margin: 4px 2px;
cursor: pointer;
}

select {
  border: 3px solid black;
  border-radius: 5px;
  width: 85%;
  height: 30px;
}

input[type=text] {
  border: 3px solid black;
  border-radius: 5px;
  width: 85%;
  height: 30px;
}


.imgbox {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.graph1 {
  display: inline-block;
  text-align: center;
  padding-left: 35em;
  width: 300px;
  height: 250px;
  padding: 50px;
  margin: 20px;
}

.graph2 {
  display: inline-block;
  text-align: center;
  padding-left: center;
  width: 300px;
  height: 250px;
  padding: 50px;
  margin: 20px;
}

.dateoutput {
display: inline-block;
text-align: center;
padding-left: 20%;
justify-content: center
}

#landingPageMain * {
  border: none;
  text-align: center;
}

#landingTitle {
  color: whitesmoke;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 3em;
}

#landingMessage {
  color: whitesmoke;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.5em;
}

#landingPage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('/landingPage.jpg') ;
  /* position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; */
  /* z-index: 3; */
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#loadinggif {
  height: 20vh;
}
#landing {
  display: block;
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 25%;
}

#landingButton {
  text-align: center;
}

.landingLogin {
  background-color: #dfdfdf;
  color: #292828;
}

.landingSignup, .loginBtn {
  background-color: #30a80f	;
  color: #292828;
}

.landingLogin, .landingSignup, .loginBtn {
  display: inline-block;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100px;
  margin: 1em;
  border-radius: 10px;
}

.landingLogin, .loginBtn, a:hover {
  cursor: pointer;
}

.landingLogin, .landingSignup, a:active {
  box-shadow: none;
  top: 5px;
}
#landingTeam {
  /* margin-top: 850px;
  padding-top: 120px;
  padding-bottom: 220px; */
  /* background-color: #dfdfdf; */
  justify-content: space-around;
  display: flex;
}

#teamTitle {
  text-align: center;
  padding-top: 2em;
  margin-bottom: 3.5em;
  margin-top: 0;
}

.dev {
  border: black solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .dev:hover {
  transform: rotateY(180deg);
}

.dev-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
} */

#landingPageTeam {
  background-color: ghostwhite;
  padding-bottom: 4em;
}

i, .teamIcons {
  display: inline-block;
  padding: 0.2em;
  font-size: 35px !important;
}

/* Login page===============================*/
.Login, .Signup {
  border: solid #555 3px;
  border-radius: 15px;
  text-align: center;
  padding: 25px;
  width: 450px;
  height: 250px;
  background-color: rgba(194, 194, 194, 0.404);
}

.loginMain, .signupMain {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('/landingPage.jpg') ;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login input[type=email] input[type=password] {
  border: 3px solid #555;
  border-radius: 5px;
  width: 75%;
  height: 25px;
}

.Signup input[type=email] input[type=password] input[type=text] {
  border: 3px solid #555;
  border-radius: 5px;
  width: 75%;
  height: 25px;
}
